{% extends 'base.html' %}

{% block content %}

    <form class="form-inline ml-auto" action="{% url action_url %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="file_id" value="{{ file.id }}"/>
        {% if action_url == 'removefile' %}
         <button type="submit" class="btn btn-danger" >Delete</button>
        {% else %}
             <button class="btn btn-success" type="submit">View</button>
    {% endif %}
    </form>

{% endblock %}