{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
     {% include 'navbar.html' %}
<div class="text-center"> <h1 >{{ title }}</h1></div>
    <div class="container-fluid">
            <div class="row">
                <div class="col">
                <img src="{% static 'images/home.png' %}" alt="">
                    <br>
                    <div class="text-center">
                    <p>This a twitter sentiment analysis web service.</p>
                        <p>It provides you with the most accurate predictions.</p>
                        <p>The Power of NLP is now integrated to this web service and brings you with easiest way to analyze tweets.</p>
                        <p>This app is created by Rahul Jain and should not be used for any commercial purpose.</p>
                        <p>Please register yourself to Analyze your tweets and get started !!</p>
                    </div>
                </div>
        </div>
        </div>


    {% endblock %}