{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    {% include 'navbar.html' %}
{#    <div class="container">#}
{#    {% for file in object_list %}#}
{#        <a href="{%static file.modified_name %}">{{ file.filename }}</a>#}
{#        <br>#}
{#        {% empty %}#}
{##}
{#    <li>No Files !</li>#}
{##}
{#    {% endfor %}#}
{#    </div>#}


    <table class="table">
    {% if object_list.count > 0 %}
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">File Name</th>
    </tr>
  </thead>
    {% endif %}
  <tbody>
  {% for file in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{%static file.modified_name %}">{{ file.filename }}</a></td>
      <td>{{ product.price }}</td>
         <td>{% include 'snippets/form.html' with file=file action_url='viewfile'%}</td>
    <td>{% include 'snippets/form.html' with file=file action_url='removefile'%}</td>
    </tr>
      {% empty %}
    <li>No Files !</li>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
