{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    {% include 'navbar.html' %}
    <br><br>
    <hr/>
    {{ graph|safe }}
    <hr/>
    {{ html_content|safe }}
    <br><br>
    <a href="{% url 'myfiles' %}" class="btn btn-info" role="button">Return</a>
{% endblock %}