<div class="text-center">
       <div class="container">
        <div class="row">
            <div class="col">

                 {% if html_content %}
                    {{ html_content|safe}}
                {% endif %}
                <div class="col-sm-6 col-12">
                    <form method="post">
                        {% csrf_token %}
                       {{ form }}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>

        </div>

    </div>
  </div>