
{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% include 'navbar.html' %}
    <div class="col-sm-6 col-12">
    {{ msg }} <br>
        <form method="post">
                        {% csrf_token %}
                       {{ form }}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
    </div>


{% endblock %}
